<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Members Only</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>  
    <% if (user) {%>
    <div class="content">
            <div class="header-bar">
                <h2>Messages</h2>
                <a href="/post" class="post-button">Post Message</a>
            </div>        
            <div class="grid">
                <% posts.forEach(post => { %>
                <div class="box">
                    <div class="user-info">
                    <%= post.first_name %> <%= post.last_name %><span> @<%= post.username %></span>
                    </div>

                    <div class="divider"></div>

                    <div class="post-message">
                    <p><%= post.post_message %></p>
                    </div>

                    <div class="post-date">
                    <small><%= dayjs(post.created_at).fromNow() %></small>
                    </div>
                </div>
                <% }) %>
            </div>
    </div>
    <% } else {%>
    <div class="content">
        <p style="color:rgb(253, 105, 105)"> Please login to post messages.</p>           
        <div class="grid">
            <div class="box">
                <div class="user-info">Anonymous <span>@anon</span></div>
                <div class="divider"></div>
                <div class="post-title">Hello</div>
                <div class="post-message">Hi Hello, please log-in to see the messages.</div>
            </div>
        </div>
    </div>
     <% } %>  
     <%- include('./partials/footer.ejs') %>
</body>
</html>