<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Members Only</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>  
    <% if (user) {%>
    <div class="content">
            <div class="header-bar">
                <h2>Messages</h2>
                <a href="/post" class="post-button">Post Message</a>
            </div>        
            <div class="grid">
            <div class="box">
                <div class="user-info"> <%= user.first_name %> <%= user.last_name %><span> @<%= user.username %></span></div>
                <div class="divider"></div>
                <div class="post-message">This is my message.</div>
            </div>
        </div>
    </div>
    <% } else {%>
    <div class="content">
        <p style="color:rgb(253, 105, 105)"> Please login to post messages.</p>           
        <div class="grid">
            <div class="box">
                <div class="user-info">Romi Baido <span>@xXxromibaidoxXx</span></div>
                <div class="divider"></div>
                <div class="post-title">Lovi Poe</div>
                <div class="post-message">I love you so much Lovi Poe!</div>
            </div>
            <div class="box">
                <h1>Welcome</h1>
                <p>This is a members-only area.</p>
                <p>Please log-in to see messages.</p>
            </div>
            <div class="box">
                <h1>Welcome</h1>
                <p>This is a members-only area.</p>
                <p>Please log-in to see messages.</p>
            </div>
            <div class="box">
                <h1>Welcome</h1>
                <p>This is a members-only area.</p>
                <p>Please log-in to see messages.</p>
            </div>
            <div class="box">
                <h1>Welcome</h1>
                <p>This is a members-only area.</p>
                <p>Please log-in to see messages.</p>
            </div>
        </div>
    </div>
     <% } %>  
     <%- include('./partials/footer.ejs') %>
</body>
</html>